*{
    margin: 0 auto;
    padding: 0;
    
    box-sizing: border-box;
  
}
body{
    
   
    width: 100%;
    height:500px;
    background-image: url("image nature/nature.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  
}



.registration-form{
    margin: 0 auto;
    height: 500px;
    width: 400px;
    background-color: rgb(21, 26, 26);
    margin-top: 180px;
    box-shadow: 0px 4px 8px 0px gray;
    transition: 0.3s;
    box-sizing: border-box; 
    color: white; 
     opacity: 0.8;
    
     
   
    
    
    
}
.registration-form input{
    letter-spacing: 2px;
    font-weight: bold;
    max-width: leb;
     
    border-radius: 3px;

}
.registration-form input:hover{
    box-shadow: 0px 4px 8px 0px rgb(19, 21, 143);
    
}



.registration-form:hover{
    box-shadow: 0px 16px 32px 0px rgb(103, 76, 167);
}
.registration-form h2{
    padding: 25px;
    text-align: center;
    color: white;
    text-transform: uppercase;

}

.registration-form p{
    margin: 0;
    padding: 5px;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif

}


.registration-form a{
   color: white;

}
.registration-form a:hover{
    text-decoration: underline;
    color: rgb(46, 35, 87);
}

#submitbutton{

    background-color: teal;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 5px;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
    margin: 10px;
    padding: 10px;
    width: 200px;

}
.btn-design{
    text-align: center;
   
}
